<body style="background-color:rgb(53, 229, 235)"  >
  <img class="bg" [src]="myImage">
  <img class="bg" [src]="myImage">
  <img class="bg" [src]="myImage">
  <img class="bg" [src]="myImage">
  
<div class="header" style="text-align:center">
  <h1 style="color:blue" >FLIGHT TICKET BOOKING</h1>
</div>
<br />

<form
  #f="ngForm"
  name="form"
  (ngSubmit)="addTicketbooking()"
  class="row g-12"
  style="text-align:center"
>

<div>
    <div class="col-12">
      <p>
      <label for="name"  style="font-style:oblique" >NAME</label>&nbsp;
      <input type="text" id="name" name="name" placeholder="Enter your name" required="true" pattern="^[A-Za-z]$" minlength="3" maxlength="25" [(ngModel)]="model.name" />
    </p>
    </div>
    <br />
    <div class="col-12">
      <label for="dob" style="color:blue" style="font-style:oblique">DOB</label>&nbsp;
      <input
        type="date"
        id="bookingdate"
        name="bookingdate"
       
        [(ngModel)]="model.dob"
      />
    </div>
    <br />


    <div class="col-12" style="text-align:center">
    <label for="gender" style="color:blue" style="font-style:oblique"> GENDER :: </label>
      <label for="male" style="color:blue">Male</label>&nbsp;
      <input
        type="radio"
        id="gender"
        name="gender"
        value="male"
        
        [(ngModel)]="model.gender"
      />
      &nbsp;
      <label for="male" style="color:blue">Female</label>&nbsp;
      <input
        type="radio"
        id="gender"
        name="gender"
        value="female"
       
        [(ngModel)]="model.gender"
      />
      &nbsp;
      <label for="other" style="color:blue">Other</label>&nbsp;
      <input
        type="radio"
        id="gender"
        name="gender"
        value="other"
        
        [(ngModel)]="model.gender"
      />
    </div>
    <br />
    <div class="col-12">
      <label for="flightname" style="color:blue" style="font-style:oblique" >FLIGHT NAME</label>&nbsp;
      <input
        type="text"
        id="fname"
        name="flightname"
        placeholder="Enter your flight name"
        required="true"

        [(ngModel)]="model.flight_name"
      />
    </div>
    <br />

    <div class="col-12" style="text-align:center">
      <label for="pickup" style="color:blue" style="font-style:oblique">PICKUP</label>&nbsp;
      <select
        name="pickup"
        id="pickup"
        required="true"
        [(ngModel)]="model.pickup"
      >
        <option value="chennai">Chennai</option>
        <option value="mumbai">Mumbai</option>
        <option value="kolkata">Kolkata</option>
        <option value="delhi">Delhi</option>
        
      </select>
    </div>
    <br /> 

    <div class="col-12" style="text-align:center">
      <label for="drop" style="color:blue" style="font-style:oblique">DROP</label>&nbsp;
      <select
        name="drop"
        id="drop"
        required="true"
        [(ngModel)]="model.drop"
      >
        <option value="chennai">Chennai</option>
        <option value="mumbai">Mumbai</option>
        <option value="kolkata">Kolkata</option>
        <option value="delhi">Delhi</option>
        
      </select>
    </div>
    <br />

    <div class="col-12">
      <label for="bdate" style="color:blue" style="font-style:oblique">BOOKING DATE</label>&nbsp;
      <input
        type="date"
        id="bookingdate"
        name="bookingdate"
        required="true"
        [(ngModel)]="model.booking_date"
      />
    </div>
    <br />
    <div class="col-12">
      <label for="booking_time" style="color:blue" style="font-style:oblique">BOOKING TIME</label>&nbsp;

      <select name="bookingtime" id="bookingtime" [(ngModel)]="model.booking_time">
        <option value="6.00AM">6.00AM</option>
        <option value="10.00AM">10.00AM</option>
        <option value="1.00PM">1.00PM</option>
        <option value="4.00PM">4.00PM</option>
        <option value="7.00PM">7.00PM</option>
        <option value="10.00PM">10.00PM</option>
      </select>
    </div>
    <br />


    <div class="col-12">
      <label style="color:blue" style="font-style:oblique">PAYMENT ::</label>
      <label for="upi" style="color:blue">Cash</label>&nbsp;
      <input
        type="radio"
        id="payment_mode"
        name="payment_mode"
        value="cash"
        required="true"
        [(ngModel)]="model.payment_mode"
      />
      &nbsp;
      <label for="male" style="color:blue">Upi</label>&nbsp;
      <input
        type="radio"
        id="payment_mode"
        name="payment_mode"
        value="upi"
        required="true"
        [(ngModel)]="model.payment_mode"
      />
      &nbsp;
      <label for="other" style="color:blue">Gpay</label>&nbsp;
      <input
        type="radio"
        id="payment_mode"
        name="payment_mode"
        value="gpay"
        required="true"
        [(ngModel)]="model.payment_mode"
      />
    </div>
    <br />

    <div class="col-12">
      <label style="color:blue" style="font-style:oblique">INSURANCE ::</label>
     
      <input
        type="radio"
        id="insurance"
        name="insurance"
        value="accident"
        [(ngModel)]="model.insurance"
      />
      <label for="accident" style="color:blue">Basic Package</label>&nbsp;
  
      &nbsp;
      <label for="luggage" style="color:blue">Partial Package</label>&nbsp;
      <input
        type="radio"
        id="insurance"
        name="insurance"
        value="accident+luggage"
        [(ngModel)]="model.insurance"
      />
      &nbsp;
      <label for="fraud" style="color:blue">Complete Package</label>&nbsp;
      <input
        type="radio"
        id="insurance"
        name="insurance"
        value="accident+luggage+fraud"
        [(ngModel)]="model.insurance"
      />
    </div>
    <br />

    <!-- <div style="text-align:center" >
      <label style="color:blue" style="font-style:oblique">INSURANCE</label>
    </div>
      <div class="col-12" style="text-align:center" >
      
        <input type="checkbox" id="insurance1" name="insurance1" value="accident" [(ngModel)]="model.insurance1"/>
        &nbsp;<label for="insurance1"> Accident</label><br />
        <input type="checkbox" id="insurance2" name="insurance2" value="luggage" [(ngModel)]="model.insurance2"/>
        &nbsp;<label for="insurance2"> Luggage</label><br />
        <input type="checkbox" id="insurance3" name="insurance3" value="onlinefraud" [(ngModel)]="model.insurance3"/>
        &nbsp;<label for="insurance3"> OnlineFraud</label><br />
      </div>
      <br /> -->
  

    <br />

    <label>DESCRIPTION:</label>
    <br>
    <label style="color:blue">Base Package - accident insurance</label>
    <br>
    <label style="color:blue">Partial Package - accident and luggage insurance</label>
    <br>
    <label style="color:blue">Complete Package - accident,luggage and online fraud insurance</label>
    <br>
    <!-- <input type="submit" class="btn btn-success" value="save" /> -->
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
    
  </div>
</form>
<!-- style=" width: 50vw; margin-left : 25vw;" -->
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>DOB</th>
      <th>GENDER</th>
      <th>FLIGHT_NAME</th>
      <th>PICKUP</th>
      <th>DROP</th>
      <th>BOOKING_DATE</th>
      <th>BOOKING_TIME</th>
      <th>PAYMENT_MODE</th>
      <th>INSURANCE</th>
    </tr>
  </thead>
  <!-- tbody -->
  <tbody>
    <tr *ngFor="let ticketbooking of ticketbooking">
      <td>{{ ticketbooking.id }}</td>
      <td>{{ ticketbooking.name }}</td>
      <td>{{ ticketbooking.dob }}</td>
      <td>{{ ticketbooking.gender }}</td>
      <td>{{ ticketbooking.flight_name }}</td>
      <td>{{ ticketbooking.pickup }}</td>
      <td>{{ ticketbooking.drop }}</td>
      <td>{{ ticketbooking.booking_date }}</td>
      <td>{{ ticketbooking.booking_time }}</td>
      <td>{{ ticketbooking.payment_mode }}</td>
      <td>{{ ticketbooking.insurance }}</td>

      <!-- <td>
        <button (click)="editTicketbooking(ticketbooking.id)">edit</button>
      </td>
      <td>
        <button (click)="deleteTicketbooking(ticketbooking.id)">delete</button>
      </td> -->
    </tr>
  </tbody>
</table>
